<div class="s1">
 <s1>「あ」から始まる言葉</s1>
</div>
<table class="cp_table">
<thead>
<tr>
<th class="eee">言葉/読み方</th>
<th>説明</th>
</tr>
</thead>
<tbody>
<th>action/あくしょん</th>
<td label="上のth要素2"><p>コントローラーとモデルをつなぐ役割（ruby).詳しく知りたい方は<%= link_to "actionとは", "https://web.lingual-ninja.com/2018/12/ruby-on-rails-action.html",class:"l1" %><%= link_to "actionの種類", "https://qiita.com/morikuma709/items/5b21e9853c9d6ea70295",class:"l1" %></p></td></p></td>
</tr>
<tr>
<th>asset/あっせと</th>
<td label="上のth要素2"><p>日訳：資産   ・ITの分野では、企業などの情報システムを構成する機器や資材、サービス契約などをまとめてITアセットあるいはIT資産と呼ぶ。VSコードのappにあるassetsには   assets/images/	スタイルシートや画像などを格納するなどで使われている。詳しく知りたい方は<%= link_to "assetとは", "https://wa3.i-3-i.info/word18324.html",class:"l1" %></p></td>
</tr>
<th>aタグ/アンカータグ</th>
<td label="上のth要素2"><p>アンカー（Anchor）の略で、出発点、または到達点を示す要素。href属性（リンク先指定）やtarget属性（別ページ表示指定）と合わせてよく利用。詳しく知りたい方は<%= link_to "アンカータグとは", "https://web.lingual-ninja.com/2018/12/ruby-on-rails-action.html",class:"l1" %></p></td>
</tr>
<th>id/あいでぃ</th>
<td label="上のth要素2"><p> （identification）の略。日訳：「身分証明」「識別番号」。またパスポートのような身分証明書のこともIDと呼びますが、こちらは「Identity Document」の略。HTMLだとタグに設定できる属性で一つのページで一回しか使えない。詳しく知りたい方は<%= link_to "idとは", "https://otonasalone.jp/186376/",class:"l1" %></p></td>
</tr>
<th>article/あーてぃくる</th>
<td label="上のth要素2"><p>日訳：(新聞・雑誌の)記事。ブロック要素の一つで他のエンジニアにコードを介して意図を届けたいときに使う。要素内容を記事として配信する時使う。</p></td>
</tr>
<th>auto play/あ（お）うと   ぷれい</th>
<td label="上のth要素2"><p>video要素の一つ。読み込まれたときに自動で再生。</p></td>
</tr>
<th>align/あらいん</th>
<td label="上のth要素2"><p>日訳：整列。要素内容の配置方向を設定するための属性。<タグ名 align=”値”>。使用例 td align="center">中央揃え</td。 詳しく知りたい方は<%= link_to "alignとは", "https://web-camp.io/magazine/archives/6871",class:"l1" %> </p></td>
</tr>
<th>Active Record/あくてぃぶ   れこーど</th>
<td label="上のth要素2"><p> （M)モデルに相当するもの。ビジネスデータとビジネスロジックを表すシステムの階層。Active Recordは、データベースに恒久的に保存される必要のあるビジネスオブジェクトの作成と利用を円滑に行なえるようにします</p></td>
</tr>
<th>API/えーぴーあい</th>
<td label="上のth要素2"><p>ソフトウェアの一部を公開して、他のソフトウェアと機能を共有できるようにしたものです。 使用例Office 365 API Office 365が使えるAPI。 Google Maps JavaScript API
Googleマップ上でピンを立てたり経路案内などを表示させられるAPI。 </p></td>
</tr>
<th>array/>あれい</th>
<td label="上のth要素2"><p>日訳：配列   いくつかの値をまとめた値のことで、[]を用いて作る。 使用例numbers = [1, 2, 3].詳しく知りたい方は<%= link_to "arrayとは", "https://26gram.com/what-is-array",class:"l1" %></p></td>
</tr>
</tbody>
</table>
</div>
